# --- AUTHENTIFICATION GOOGLE (OAUTH2) ---
GOOGLE_OAUTH_CLIENT_ID=votre_id_client_google.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=votre_secret_client_google

# --- NOTIFICATIONS PUSH ADMIN (VAPID) ---
VAPID_PUBLIC_KEY=remplacer_par_votre_vapid_public_key
VAPID_PRIVATE_KEY=remplacer_par_votre_vapid_private_key
VAPID_ADMIN_EMAIL=mailto:admin@kolonadata.cd

# --- PARAMETRES SERVEUR ---
DEBUG=True
SECRET_KEY=django-insecure-remplacer-par-une-cle-longue
ALLOWED_HOSTS=127.0.0.1,localhost
